* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

body {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: #060AB2;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  color: orange;
  padding: 10px;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(30% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: #FFF;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

#btn__reset {
  width: 200px;
  margin: 0 auto;
}

#btn__reset:hover {
  transform: scale(1.75);
  transition: all 0.4s ease;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-image: url("assets/image-start.jpg");
  background-size: cover;
  background-repeat: no-repeat;
   background-color: rgb(0, 0, 0);
   /* Black fallback color */
   /* background-color: rgba(0, 0, 0, 0.9); */
   /* Black w/opacity */
   overflow-x: hidden;
   /* Disable horizontal scroll */
   transition: 0.5s;
   /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.start a {
  color: #fff;
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: #f5785f;
}

.lose a {
  color: var(--color-lose);
}